<po-page-default p-title="Cadastro de Cliente">
  <form #cadastroForm="ngForm" (ngSubmit)="cadastrar()">
    <po-input
      name="nome"
      p-label="Nome"
      [(ngModel)]="cliente.nome"
      required
    ></po-input>
    
    <po-divider p-label="Endereço"></po-divider>
    
    <po-input
      name="logradouro"
      p-label="Logradouro"
      [(ngModel)]="cliente.endereco.logradouro"
      required
    ></po-input>
    
    <po-input
      name="bairro"
      p-label="Bairro"
      [(ngModel)]="cliente.endereco.bairro"
      required
    ></po-input>
    
    <po-input
      name="numero"
      p-label="Número"
      [(ngModel)]="cliente.endereco.numero"
      required
    ></po-input>
    
    <po-input
      name="cidade"
      p-label="Cidade"
      [(ngModel)]="cliente.endereco.cidade"
      required
    ></po-input>
    
    <po-input
      name="estado"
      p-label="Estado"
      [(ngModel)]="cliente.endereco.estado"
      required
    ></po-input>
    
    <po-divider p-label="Telefones"></po-divider>
    
    <po-container>
      <div *ngFor="let telefone of cliente.telefones; let i = index">
        <po-input
          name="telefone{{i}}"
          p-label="Telefone"
          [(ngModel)]="telefone.telefone"
          required
        ></po-input>
        
        <po-button
          p-label="Remover"
          p-type="danger"
          (p-click)="removerTelefone(i)"
          *ngIf="cliente.telefones.length > 1"
        ></po-button>
      </div>
      
      <po-button
        p-label="Adicionar Telefone"
        p-type="primary"
        (p-click)="adicionarTelefone()"
      ></po-button>
    </po-container>
    
    <po-divider></po-divider>
    
    <po-button
      p-label="Cadastrar"
      p-type="submit"
      [p-disabled]="!cadastroForm.form.valid"
    ></po-button>
  </form>
</po-page-default>
